*,
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  background-color: #00947b;
  display: flex;
  margin: 0 auto;
  padding: 2rem 8rem;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  border-radius: 10px;
  margin-top: 1rem;
}

h1 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}

.add-btn {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px #000000;
}

.library-container {
  width: 80%;
  display: grid;
  margin: 0 auto;
  margin-top: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}

h3 {
  font-size: 2.5rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #000000;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  box-shadow: 0px 0px 20px black;
}

.book-card p {
  font-size: 1rem;
}

.book-card button {
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8px;
}

dialog {
  margin: 10% auto;
  width: 15%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form button {
  padding: 10px;
  font-weight: 600;
  font-size: large;
}

input {
  height: 2rem;
  font-size: 1.3rem;
}

img {
  height: 50%;
  width: 100%;
  margin: 0 auto;
}
